// Widths
$mobile-sm: 479px;
$mobile: 575px;
$mobile-big: 767px;
$tablet: 991px;
$desktop: 1199px;

// Fonts
$default-font: 'OpenSans-Regular', sans-serif; //400/700
$additional-font: 'PTSans-Regular', sans-serif; //400

// Colors
$primary-color: rgb(239, 91, 76);
$secondary-color: rgb(0, 123, 255);
$background-color: rgb(255, 255, 255);
$secondary-background-color: rgb(249, 249, 243);
$black: rgb(0, 0, 0);
$dirty: rgb(76, 75, 75);

$color-placeholder: rgba(0, 0, 0, 0.5);
$color-error: #e60000;
